html,body {
  height: 100%;
  width: 100%;
}

body.showing-landing-page {
  background: url('../images/background2/mountain-1200x795.jpg') no-repeat center center fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;  
}

body.showing-landing-page .landing-page {
  color: white;
}

body.showing-landing-page .jumbotron.dark-background {
  background-color: rgb(0, 0, 0);
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.5); 
}

body.showing-landing-page .jumbotron h1 {
  font-weight: 600;
}

@media only screen and (max-width : 768px) {
  body.showing-landing-page {
    background: url('../images/background2/mountain-768x509.jpg') no-repeat center center fixed;
  }
}

@media only screen and (max-width : 992px) {
  body.showing-landing-page {
    background: url('../images/background2/mountain-1200x795.jpg') no-repeat center center fixed;
  }
}