	<div class="goods-details-page">
    <div class="row">
  		<div class="col-md-12 goods-details-col1">
        <a href= "#/accounts/{{id_rs}}/goods" class= "btn btn-primary goods-button">Goods</a>
        <a href="#/accounts/{{id_rs}}/goods/viewcart" class= "btn btn-default">Cart ({{shoppingCart.length}})</a>
        <a href="#/accounts/{{id_rs}}/goods/past/orders" class= "btn btn-default past-orders-button">Past Orders</a>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-12">
        <h4><b>Name: </b>{{goodsDetails.name}}</h4>
        <p><b>Id: </b>{{goodsDetails.goods}}</p>
      </div>
    </div>
  	<div class="row">
  		<div class="col-md-12">
  			<div style= "text-align: center;">
          <img src="{{desc.image}}" style= "width: 300px;" ng-if= "desc.image">
          <img src="images/no-image.jpg" style= "width: 225px;" ng-if= "!desc.image">
        </div>
        <div class= "goods-details1">
          <label class= "price"><b>Price: </b>{{goodsDetails.priceNQT}}</label>
          <label class= "quantity"><b>Quantity: </b>{{goodsDetails.quantity}}</label>
        </div>
        <div class= "goods-details2">
          <p class= "description">{{desc.description}}</p>
          <p><b>Tags:</b> {{goodsDetails.tags}}</p>
        </div>
        <div class= "goods-details3">
          <a class= "btn btn-primary add-to-cart" ng-click= "addToCart(goodsDetails)"><i class="fa fa-shopping-cart"></i> Add To Cart</a>
          <a href= "#/accounts/{{id_rs}}/goods" class= "btn btn-danger cancel-button">Cancel</a>
        </div>
  		</div>
  	</div>
  <!-- #/accounts/{{id_rs}}/goods/viewcart -->
  </div>