  <!-- goods page -->

  <div class="goods-page" ng-if= "paramSection == 'listing' || paramSection == 'viewlisting'">
    <div class="row">
      <div class="col-md-12 goods-col1" style= "margin-bottom: 20px;">
        <a href="#/goods/{{id_rs}}/viewlisting" class= "btn btn-default past-orders-button" ng-if= "paramSection == 'listing'">{{'translate.view_own_listing' | translate}}</a>
        <a href="#/goods/{{id_rs}}/listing" class= "btn btn-default past-orders-button" ng-if= "paramSection == 'viewlisting'">{{'translate.show_all_items' | translate}}</a>
        <a href="#/goods/{{id_rs}}/pastorders" class= "btn btn-default past-orders-button">{{'translate.past_orders' | translate}}</a>
        <a href="#/goods/{{id_rs}}/solditems" class= "btn btn-default past-orders-button">{{'translate.sold_items' | translate}}</a>
        <a href="#/goods/{{id_rs}}/cart" class= "btn btn-default">{{'translate.cart' | translate}} ({{shoppingCart.length}})</a>
        <a ng-click= "add()" class= "btn btn-primary add-goods-button" ng-if= "currentAccount.secretPhrase.length > 0">{{'translate.add_item' | translate}}</a>
        <a href= "#/login-to" class= "btn btn-primary add-goods-button" ng-if= "currentAccount.secretPhrase.length == null">{{'translate.sign_in' | translate}}</a>
      </div>
    </div>
    <div infinite-scroll="showGoods.loadMore()" 
            infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
            <form class="form-inline" style= "margin-bottom: 15px;">
              <div class="form-group">
                <span>{{'translate.filter_item_label' | translate}}</span>&nbsp;&nbsp;
                <input type="text" ng-model="showGoods.filter" ng-change="showGoods.reload()" class="form-control" placeholder="{{'translate.filter_placeholder' | translate}}">
              </div>
            </form>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table goods-table" style= "border: 1px solid #dddddd;">
                    <thead>
                      <tr>
                        <th>{{'translate.goods_name' | translate}}</th>
                        <th>{{'translate.goods_seller' | translate}}</th>
                        <th>{{'translate.goods_tags' | translate}}</th>
                        <th>{{'translate.goods_quantity' | translate}}</th>
                        <th ng-if= "symbol == 'FIM'">{{'translate.goods_price' | translate}}</th>
                        <th ng-if= "symbol == 'NXT'">{{'translate.goods_price_nxt' | translate}}</th>
                        <th ng-if= "paramSection == 'viewlisting' && currentAccount.secretPhrase.length > 0"></th>
                      </tr>
                    </thead>
                     <tbody>
                      <tr style= "cursor: pointer;" ng-if= "isAdded">
                        <td ng-click= "details(goods)">{{isAdded.name}}</td>
                        <td ng-click= "details(goods)">{{isAdded.seller}}</td>
                        <td ng-click= "details(goods)">{{isAdded.tags}}</td>
                        <td ng-click= "details(goods)">{{isAdded.quantity}}</td>
                        <td ng-click= "details(goods)">{{isAdded.priceNXT}}</td>
                        <td ng-click= "deleteGood(goods)" style= "color: #d9534f" ng-if= "paramSection == 'viewlisting' && currentAccount.secretPhrase.length > 0">{{'translate.delete_good' | translate}}</td>
                      </tr>
                      <tr ng-repeat= "goods in showGoods.entities" style= "cursor: pointer;">
                        <td ng-click= "details(goods)">{{goods.name}}</td>
                        <td ng-click= "details(goods)">{{goods.seller}}</td>
                        <td ng-click= "details(goods)">{{goods.tags}}</td>
                        <td ng-click= "details(goods)">{{goods.quantity}}</td>
                        <td ng-click= "details(goods)">{{goods.priceFIMK}}</td>
                        <td ng-click= "deleteGood(goods, $index)" style= "color: #d9534f" ng-if= "paramSection == 'viewlisting' && currentAccount.secretPhrase.length > 0">{{'translate.delete_good' | translate}}</td>
                      </tr>
                    </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="load-more-button" ng-show="showGoods.hasMore">
        <a href ng-click="showGoods.loadMore()" class="text-lowercase text-muted">
          <span ng-show="showGoods.isLoading"><i class="fa fa-refresh fa-spin"></i></span>
          <span>{{'translate.load_more_products' | translate}}</span>
        </a>
      </div>
    </div> 
  </div>

  <!-- goods details page -->

    <div class="goods-details-page" ng-if= "paramSection.length > '11'">
      <div class="row">
        <div class="col-md-12 goods-details-col1">
          <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-primary goods-button">{{'translate.all_items' | translate}}</a>
          <a href="#/goods/{{id_rs}}/cart" class= "btn btn-default">{{'translate.cart' | translate}} ({{shoppingCart.length}})</a>
          <a href="#/goods/{{id_rs}}/pastorders" class= "btn btn-default past-orders-button">{{'translate.past_orders' | translate}}</a>
        </div>
      </div>
      <div ng-repeat= "details in goodsDetails.entities">
        <div class="row">
          <div class="col-md-12">
            <h4>
              <b>{{'translate.goods_name' | translate}}: </b><span>{{details.name}}</span>
              <span style= "float: right;">
                <b>{{'translate.goods_seller' | translate}}: </b><span>{{details.sellerRS}}</span>
              </span>
            </h4>
            <p>
              <b>{{'translate.goods_id' | translate}}: </b><span>{{details.goods}}</span>
              <span style= "float: right;">
                <b ng-if= "details.sellerName">{{'translate.seller_name' | translate}} </b><span ng-if= "details.sellerName">{{details.sellerName}}</span>
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div style= "text-align: center;">
              <img src="{{details.description | parseImage }}" style= "width: 300px;" ng-if= "details.description | parseImage">
              <img src="images/no-image.jpg" style= "width: 225px;" ng-if= "!details.image" ng-hide= "details.description | parseImage">
            </div>
            <div class= "goods-details1">
              <label class= "price" ng-if= "symbol == 'FIM'"><b>{{'translate.goods_price' | translate}}: </b>{{details.priceFIMK}}</label>
              <label class= "price" ng-if= "symbol == 'NXT'"><b>{{'translate.goods_price_nxt' | translate}}: </b>{{details.priceFIMK}}</label>
              <label class= "quantity"><b>{{'translate.goods_quantity' | translate}}: </b>{{details.quantity}}</label>
            </div>
            <div class= "goods-details2">
              <p class= "description" ng-if= "details.description | parseDescription">{{details.description | parseDescription}}</p>
              <p class= "description" ng-hide= "details.description | parseDescription">{{details.description}}</p>
              <p><b>{{'translate.goods_tags' | translate}}:</b> {{details.tags}}</p>
            </div>
            <div class= "goods-details3">
              <a class= "btn btn-primary add-to-cart" ng-click= "addToCart(details)"><i class="fa fa-shopping-cart"></i> {{'translate.add_to_cart' | translate}}</a>
              <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-danger cancel-button">{{'translate.cancel_order' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- cart page -->

    <div class="cart-page" ng-if= "paramSection == 'cart'">
      <div class="row">
        <div class="col-md-12 top-buttons">
          <label class= "btn btn-default">{{'translate.cart' | translate}} ({{shoppingCart.length}})</label>
          <a href= "#/goods/{{id_rs}}/pastorders" class= "btn btn-default past-orders">{{'translate.past_orders' | translate}}</a>
          <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-primary goods-button">{{'translate.back_to_items' | translate}}</a>
        </div>
      </div>
      <div class="row" ng-if= "shoppingCart.length > 0">
        <div class="col-md-12" style= "padding: 0px;">
          <h4 class= "balanceError">{{balanceError}}</h4>
          <div class="table-responsive">
            <table class="table cart-table">
                    <thead>
                      <tr>
                        <th style= "text-align: center;">{{'translate.goods_name' | translate}}</th>
                        <th></th>
                        <th ng-if= "symbol == 'FIM'">{{'translate.goods_price' | translate}}</th>
                        <th ng-if= "symbol == 'NXT'">{{'translate.goods_price_nxt' | translate}}</th>
                        <th>{{'translate.goods_total_price' | translate}}</th>
                      </tr>
                    </thead>
                     <tbody>
                      <tr class= "itemsRow" ng-repeat= "items in shoppingCart">
                        <td class= "image" ng-if= "items.image"> <img src="{{items.image}}"> </td>
                        <td class= "no-image" ng-if="!items.image"><img src="images/no-image.jpg"></td>
                        <td class= "item-desc">
                          <p><b>{{'translate.goods_name' | translate}}: </b>{{items.name}}</p>
                          <p><b>{{'translate.goods_seller' | translate}}: </b>{{items.seller}}</p>
                          <p class= "remove-item" ng-click= "remove($index, items)">{{'translate.remove_from_cart' | translate}}</p>
                        </td>
                        <td class= "price" ng-if= "symbol == 'FIM'"><b>{{'translate.price_FIMK' | translate}}: </b>{{items.priceFIMK}}</td>
                        <td class= "price" ng-if= "symbol == 'NXT'"><b>{{'translate.price_NXT' | translate}}: </b>{{items.priceFIMK}}</td>
                        <td class= "total-price"><b>{{'translate.goods_total_price' | translate}}: {{items.priceFIMK}}</b></td>
                      </tr>
                    </tbody>
            </table>
            <div class= "estPrice">{{'translate.estimated_price' | translate}}: {{total}}</div>
          </div>
        </div>
        <div class="col-md-12 order-buttons">
          <div>
            <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-default back-to-goods">{{'translate.back_to_items' | translate}}</a>
            <button class= "btn btn-success place-order" ng-click= "placeOrder()" ng-if= "currentAccount.secretPhrase.length > 0">{{'translate.place_order' | translate}}</button>
            <a href= "#/login-to" class= "btn btn-success place-order" ng-if= "currentAccount.secretPhrase.length == null">{{'translate.sign_in' | translate}}</a>
          </div>
            <hr>
        </div>
      </div>

      <p style= "text-align: center; font-size: 18px; margin: 0;">{{successful}}</p>
      <div class="row no-added" ng-if= "shoppingCart.length == 0">
        <div class="col-md-12 no-added-col">
          <label>{{'translate.no_pending' | translate}}</label>
          <br>
          <a href="#/goods/{{id_rs}}/listing" class= "btn btn-success">{{'translate.continue_shopping' | translate}}</a>
        </div>
      </div>
  </div>

  <!-- past orders page -->

    <div class="past-orders-page" ng-if= "paramSection == 'pastorders'">
      <div class="row">
        <div class="col-md-12 past-order-col1">
          <a href="#/goods/{{id_rs}}/cart" class= "btn btn-default">{{'translate.cart' | translate}} ({{shoppingCart.length}})</a>
          <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-primary goods-button">{{'translate.all_items' | translate}}</a>
        </div>
      </div>
      <div infinite-scroll="pastGoods.loadMore()" 
            infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
        <div class="row">
          <div class="col-md-12" style= " padding-top: 20px;">
            <div class="table-responsive">
              <table class="table" style= "border: 1px solid #dddddd;">
                <thead>
                  <tr>
                    <th>{{'translate.purchase_id' | translate}}</th>
                    <th>{{'translate.goods_name' | translate}}</th>
                    <th>{{'translate.goods_seller' | translate}}</th>
                    <th>{{'translate.goods_quantity' | translate}}</th>
                    <th ng-if= "symbol == 'FIM'">{{'translate.goods_price' | translate}}</th>
                    <th ng-if= "symbol == 'NXT'">{{'translate.goods_price_nxt' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat= "orders in pastGoods.entities">
                    <td>
                      <a class= "past-order-tooltip">
                        {{orders.purchase}}
                        <span>
                          <p>
                            <b>{{'translate.buyer_fimk_account' | translate}}: </b><h5>{{orders.buyerRS}}</h5>
                          </p>
                          <p ng-if= "orders.buyerName">
                            <b>{{'translate.buyer_name' | translate}}: </b><h5>{{orders.buyerName}}</h5>
                          </p>
                          <p>
                            <b>{{'translate.seller_fimk_account' | translate}}: </b><h5>{{orders.sellerRS}}</h5>
                          </p>
                          <p ng-if= "orders.sellerName">
                            <b>{{'translate.seller_name' | translate}}: </b><h5>{{orders.sellerName}}</h5>
                          </p>
                          <p ng-if= "orders.pending == false">
                            <b>{{'translate.order_is_delivered' | translate}}</b>
                          </p>
                          <p ng-if= "orders.pending == true">
                            <b>{{'translate.order_is_pending' | translate}}</b>
                          </p>
                        </span>
                      </a>
                    </td>
                    <td>{{orders.name}}</td>
                    <td ng-if= "!orders.sellerName">({{orders.sellerRS}})  <a href="" ng-click= "msg(orders.sellerRS)" ng-if= "currentAccount.secretPhrase.length > 0">{{'translate.message_to_seller' | translate}}</a></td>
                    <td ng-if= "orders.sellerName">{{orders.sellerName}}  <a href="" ng-click= "msg(orders.sellerRS)" ng-if= "currentAccount.secretPhrase.length > 0">{{'translate.message_to_seller' | translate}}</a></td>
                    <td>{{orders.quantity}}</td>
                    <td>{{orders.priceFIMK}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="load-more-button" ng-show="pastGoods.hasMore">
          <a href ng-click="pastGoods.loadMore()" class="text-lowercase text-muted">
            <span ng-show="pastGoods.isLoading"><i class="fa fa-refresh fa-spin"></i></span>
            <span>{{'translate.load_more_products' | translate}}</span>
          </a>
        </div>
    </div>
  </div>

  <!-- Sold Items page -->

    <div class="past-orders-page" ng-if= "paramSection == 'solditems'">
      <div class="row">
        <div class="col-md-12 past-order-col1">
          <a href="#/goods/{{id_rs}}/cart" class= "btn btn-default">{{'translate.cart' | translate}} ({{shoppingCart.length}})</a>
          <a href= "#/goods/{{id_rs}}/listing" class= "btn btn-primary goods-button">{{'translate.all_items' | translate}}</a>
        </div>
      </div>
      <div infinite-scroll="soldGoods.loadMore()" 
            infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
        <div class="row">
          <div class="col-md-12" style= " padding-top: 20px;">
            <div class="table-responsive">
              <h3>{{'translate.pending_items' | translate}}</h3>
              <table class="table" style= "border: 1px solid #dddddd; border-collapse: inherit;">
                <thead>
                  <tr>
                    <th>{{'translate.purchase_time' | translate}}</th>
                    <th>{{'translate.purchase_id' | translate}}</th>
                    <th>{{'translate.goods_name' | translate}}</th>
                    <th>{{'translate.goods_quantity' | translate}}</th>
                    <th ng-if= "symbol == 'FIM'">{{'translate.goods_price' | translate}}</th>
                    <th ng-if= "symbol == 'NXT'">{{'translate.goods_price_nxt' | translate}}</th>
                    <th>{{'translate.delivery_deadline' | translate}}</th>
                    <th ng-if= "currentAccount.secretPhrase.length > 0"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat= "orders in soldGoods.entities">
                    <td>{{orders.timestamp}}</td>
                    <td>{{orders.purchase}}</td>
                    <td>{{orders.name}}</td>
                    <td>{{orders.quantity}}</td>
                    <td>{{orders.priceFIMK}}</td>
                    <td>{{orders.totalDeliveryDeadlineTimestamp}} hours</td>
                    <td ng-if= "currentAccount.secretPhrase.length > 0"><button class= "btn btn-primary" ng-click= "confirmDelivery(orders)">{{'translate.confirm_delivery' | translate}}</button></td>
                    <!-- <td><button ng-click= "rebate(orders)">Rebate</button></td> -->
                  </tr>
                </tbody>
              </table>
              <h3>{{'translate.completed_orders' | translate}}</h3>
              <table class="table" style= "border: 1px solid #dddddd; border-collapse: inherit;">
                <thead>
                  <tr>
                    <th>{{'translate.purchase_time' | translate}}</th>
                    <th>{{'translate.purchase_id' | translate}}</th>
                    <th>{{'translate.goods_name' | translate}}</th>
                    <!-- <th>Seller</th> -->
                    <th>{{'translate.goods_quantity' | translate}}</th>
                    <th ng-if= "symbol == 'FIM'">{{'translate.goods_price' | translate}}</th>
                    <th ng-if= "symbol == 'NXT'">{{'translate.goods_price_nxt' | translate}}</th>
                    <th ng-if= "currentAccount.secretPhrase.length > 0"></th>
                    <th ng-if= "currentAccount.secretPhrase.length > 0"></th>
                    <th ng-if= "DecryptedMessage && currentAccount.secretPhrase.length > 0">{{'translate.message_from_buyer' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat= "orders in DeliveryConfirmedGoods.entities">
                    <td>{{orders.timestamp}}</td>
                    <td>{{orders.purchase}}</td>
                    <td>{{orders.name}}</td>
                    <!-- <td>{{orders.sellerRS}}  <a href="" ng-click= "msg(orders.sellerRS)">message</a></td> -->
                    <td>{{orders.quantity}}</td>
                    <td>{{orders.priceFIMK}}</td>
                    <td ng-if= "currentAccount.secretPhrase.length > 0"><button class= "btn btn-primary" ng-click= "rebate(orders)">{{'translate.refund' | translate}}</button></td>
                    <td ng-if= "currentAccount.secretPhrase.length > 0">
                      <button class= "btn btn-primary" ng-if= "orders.note" ng-click= "decrypt(orders.note, $index)">{{'translate.decrypt_message' | translate}}</button>
                      <label ng-if= "!orders.note">{{'translate.no_messages' | translate}}</label>
                    </td>
                    <td ng-if= "DecryptedMessage && currentAccount.secretPhrase.length > 0"><span class= "hide-message" ng-class= "{'show-message': $index == textMessage}">{{DecryptedMessage.entities[0].decryptedMessage}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="load-more-button" ng-show="soldGoods.hasMore">
          <a href ng-click="soldGoods.loadMore()" class="text-lowercase text-muted">
            <span ng-show="soldGoods.isLoading"><i class="fa fa-refresh fa-spin"></i></span>
            <span>{{'translate.load_more_products' | translate}}</span>
          </a>
        </div>
    </div>
  </div>


