<div>

  <!-- *****************************************************
   * Choose 
   *   1. Open wallet
   *   2. Enter secret phrase
   *   3. Create account
   ********************************************************* -->

  <div class="row" ng-show="state.active==0">

    <!-- Not logged in -->

    <div ng-show="!currentAccount">
      <div class="col-md-3 col-xs-12" style="margin-bottom: 8px">
        <button class="btn btn-block btn-default btn-lg" ng-click="goto(1)" ng-disabled="!walletExists">
          <i class="fa fa-unlock fa-2x"></i><br>
          <small translate="translate.open_wallet"></small>
        </button>
      </div>
      <div class="col-md-3 col-xs-12" style="margin-bottom: 8px">
        <button class="btn btn-block btn-default btn-lg" ng-click="goto(9)">
          <i class="fa fa-plus fa-2x"></i><br>
          <small translate="translate.create_new_account"></small>
        </button>
      </div>    
      <div class="col-md-3 col-xs-12" style="margin-bottom: 8px">
        <button class="btn btn-block btn-default btn-lg" ng-click="goto(3)">
          <i class="fa fa-pencil-square-o fa-2x"></i><br>
          <small translate="translate.enter_secret_phrase"></small>
        </button>
      </div>
      <div class="col-md-3 col-xs-12" style="margin-bottom: 8px">
        <button class="btn btn-block btn-danger btn-lg" ng-click="goto(8)" ng-disabled="!walletExists">
          <i class="fa fa-trash-o fa-2x"></i><br>
          <small translate="translate.remove_wallet"></small>
        </button>
      </div>
    </div>

    <!-- User is logged in -->

    <div ng-show="currentAccount">
      <div class="col-md-12 col-xs-12" style="margin-bottom: 8px">
        <h3 translate="translate.signed_in_as"></h3>
        <a href="#/accounts/{{currentAccount.id_rs}}/activity/latest">{{currentAccount.id_rs}}</a>
      </div>
      <div class="col-md-3 col-xs-12" style="margin-bottom: 8px">
        <button class="btn btn-block btn-default btn-lg" ng-click="logout()">
          <i class="fa fa-sign-out fa-2x"></i><br>
          <small translate="translate.sign_out"></small>
        </button>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 1. Open wallet
   ********************************************************* -->  

  <div class="row" style="margin-top: 8px" ng-show="state.active==1">
    <div class="col-md-12">

      <!-- There is no wallet -->
      <div ng-show="!walletExists">
        <div class="alert alert-warning">
          <b><i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate="translate.there_is_no_wallet"></span></b>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="back(0)" translate="translate.back"></button>
          </div>
        </div>
      </div>

      <!-- Wallet exists -->
      <div ng-show="walletExists">

        <!-- Wallet is locked -->
        <div ng-show="!walletUnlocked">
          <div class="alert alert-info" style="margin-bottom: 8px">
            <b translate="translate.enter_wallet_password"></b>
          </div>
          <div class="alert alert-warning" ng-show="alerts.wrongPassword">
            <i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate="translate.wrong_password"></span>
          </div>
          <form>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Wallet Password" id="wallet-password" ng-model="input.password">
            </div>
          </form>
          <div class="row">
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="unlockWallet()" translate="translate.continue"></button>
            </div>
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="back(0)" translate="translate.back"></button>
            </div>
          </div>
        </div>

        <!-- Wallet is unlocked -->
        <div ng-show="walletUnlocked">
          <div class="alert alert-info" style="margin-bottom: 8px">
            <b translate="translate.msg_wallet_unlocked"></b>
          </div>
          <div class="row">
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="refreshWallet(); goto(2)" translate="translate.continue"></button>
            </div>
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="back(0)" translate="translate.back"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 1. Open wallet / 2. Pick account
   ********************************************************* -->  

  <div class="row" style="margin-top: 8px" ng-show="state.active==2">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px">
        <b translate="translate.msg_choose_account"></b>
      </div>
      <form>
        <div class="form-group">
          <select class="form-control monospace" ng-model="input.account" 
            ng-options="a.label for a in input.accounts"></select>
        </div>
      </form>      
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="selectAccountFromWallet()" ng-disabled="!input.account" translate="translate.continue"></button>
        </div>
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 3. Enter secret phrase
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==3">
    <div class="col-md-12">

      <!-- Engine type not set -->
      <div ng-show="!input.engine">
        <div class="alert alert-info" style="margin-bottom: 8px">
          <b translate="translate.msg_choose_account_type"></b>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine='fim'">FIMK</button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine='nxt'">NXT</button>
          </div>          
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="back(0)" translate="translate.back"></button>
          </div>
        </div>
      </div>

      <!-- Engine type set -->
      <div ng-show="input.engine">
        <div class="alert alert-info" style="margin-bottom: 8px">
          <b translate="translate.msg_enter_secret_phrase"></b>
        </div>
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="4" ng-model="input.secretPhrase"
                placeholder="12 Word Secret Phrase" ng-trim="false"></textarea>
          </div>
        </form>
        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="goto(4)" 
                ng-disabled="!input.secretPhrase" translate="translate.continue"></button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine=null;input.secretPhrase='';" translate="translate.back"></button>
          </div>
        </div>        
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 3. Enter secret phrase / 4. Yes/No save to wallet
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==4">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px" translate="translate.msg_save_secret_phrase"></div>
      <form>
        <div class="form-group">
          <span class="form-control-static">{{input.id_rs}}</span>
        </div>
        <div class="form-group" ng-show="input.name">
          <span class="form-control-static">
            <b><span translate="translate.name"></span>:</b>&nbsp;{{input.name}}
          </span>
        </div>
        <div class="form-group" ng-show="input.description">
          <span class="form-control-static">
            <b><span translate="translate.description"></span>:</b>&nbsp;{{input.description}}
          </span>
        </div>
      </form>
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(5)" translate="translate.yes"></button>
        </div>
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(6)" translate="translate.no"></button>
        </div>        
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 3. Enter secret phrase / 4. Yes/No save to wallet / 5. Save secret to wallet
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==5">
    <div class="col-md-12">

      <!-- Wallet exists -->
      <div ng-show="walletExists">

        <!-- Wallet is locked -->
        <div ng-show="!walletUnlocked">
          <div class="alert alert-info" style="margin-bottom: 8px">
            <b translate="translate.msg_enter_wallet_password"></b>
          </div>
          <div class="alert alert-warning" ng-show="alerts.wrongPassword"><i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate="translate.wrong_password"></span></div>
          <form>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Wallet Password" ng-model="input.password">
            </div>
          </form>
          <div class="row">
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="unlockWallet()" translate="translate.continue"></button>
            </div>
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
            </div>
          </div>
        </div>

        <!-- Wallet is unlocked -->
        <div ng-show="walletUnlocked">
          <div class="alert alert-danger"><b translate="translate.msg_click_to_save_secret"></b></div>          
          <div class="row">
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" 
                  ng-click="saveSecretToWallet(); goto(7)">
                <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;<span translate="translate.save"></span></button>
            </div>
            <div class="col-md-3 col-xs-12" style="margin-top: 8px">
              <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
            </div>
          </div>
        </div>
      </div>

      <!-- Wallet does not exist -->
      <div ng-show="!walletExists">

        <div class="alert alert-info" style="margin-bottom: 8px">
          <b translate="translate.msg_wallet_not_created"></b>
        </div>
        <div class="alert alert-danger" style="margin-bottom: 8px" translate="translate.msg_remember_password"></div>
        <form>
          <div class="form-group">
            <input class="form-control" type="password" ng-model="input.password"
              placeholder="Password">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" ng-model="input.passwordConfirm"
              placeholder="Confirm">
          </div>
        </form>

        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="createWallet()"
                ng-disabled="!(input.password && input.password == input.passwordConfirm)" translate="translate.create"></button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 3. Enter secret phrase / 4. Yes/No save to wallet / 6. Session login
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==6">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px" translate="translate.msg_secret_set_for_session"></div>
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="selectAccountFromSecretPhrase()" translate="translate.continue"></button>
        </div>        
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back(4)" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 3. Enter secret phrase / 4. Yes/No save to wallet / 5. Save secret to wallet / 7. Secret phrase saved to wallet
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==7">
    <div class="col-md-12">
      <div class="alert alert-success" style="margin-bottom: 8px">
        <b translate="translate.msg_secret_saved"></b>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="selectAccountFromSecretPhrase()" translate="translate.continue"></button>
        </div>        
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back(5)" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 8. Remove wallet
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==8">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px">
        <b translate="translate.msg_sure_to_remove_wallet"></b>
      </div>
      <div class="alert alert-danger" style="margin-bottom: 8px">
        <b translate="translate.msg_wallet_removal_warning"></b>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-danger btn-lg btn-block" ng-click="removeWallet();" translate="translate.remove"></button>
        </div>        
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="input.password = ''; back(0)" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 9. Create Account
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==9">
    <div class="col-md-12">

      <!-- Engine type not set -->
      <div ng-show="!input.engine">
        <div class="alert alert-info" style="margin-bottom: 8px">
          <b translate="translate.msg_choose_account_type"></b>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine='fim'">FIMK</button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine='nxt'">NXT</button>
          </div>          
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="back(0)" translate="translate.back"></button>
          </div>
        </div>
      </div>

      <!-- Engine type set -->
      <div ng-show="input.engine">
        <div class="alert alert-danger" style="margin-bottom: 8px" translate="translate.msg_must_save_secret" 
          translate-values="{symbol: input.engine=='fim'?'FIMK':'NXT'}">
        </div>
        <div class="alert alert-info" style="margin-bottom: 8px" ng-show="alerts.clipped" translate="translate.msg_secret_copied"></div>
        <form>
          <div class="form-group" ng-show="IS_SMALL_DEVICE">
            <textarea class="form-control input-lg" rows="3" ng-model="input.secretPhrase" readonly></textarea>
          </div>
          <div class="form-group" ng-show="!IS_SMALL_DEVICE">
            <div class="input-group">
              <input type="text" class="form-control input-lg" rows="4" ng-model="input.secretPhrase" readonly>
              <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" ng-click="previousSecretPhrase()"
                  ng-disabled="!input.secretPhraseRotatorIndex"
                  ng-if="input.pickSecretPhrase">
                  <i class="fa fa-arrow-left"></i>&nbsp;<span translate="translate.previous"></span></button>
                <button class="btn btn-default btn-lg" type="button" ng-click="nextSecretPhrase()"
                  ng-if="input.pickSecretPhrase">
                  <i class="fa fa-arrow-right"></i>&nbsp;<span translate="translate.next"></span></button>
                <button class="btn btn-default btn-lg" type="button" 
                  clip-copy="input.secretPhrase" clip-click="alerts.clipped=true; input.pickSecretPhrase=false">
                  <i class="fa fa-clipboard"></i>&nbsp;<span translate="translate.copy"></span></button>
              </span>              
            </div>
          </div> 
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="input.pickSecretPhrase">&nbsp;<span translate="translate.msg_choose_other_secret"></span>
            </label>
          </div>
        </form>
        <div class="row">
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="goto(10)" 
                ng-disabled="!input.secretPhrase" translate="translate.continue"></button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-if="IS_SMALL_DEVICE && input.pickSecretPhrase">
            <button class="btn btn-default btn-lg btn-block" ng-click="previousSecretPhrase()"
              ng-disabled="!input.secretPhraseRotatorIndex">
              <i class="fa fa-arrow-left"></i>&nbsp;<span translate="translate.previous"></span></button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-if="IS_SMALL_DEVICE && input.pickSecretPhrase">
            <button class="btn btn-default btn-lg btn-block" ng-click="nextSecretPhrase()">
              <i class="fa fa-arrow-right"></i>&nbsp;<span translate="translate.next"></span></button>
          </div>          
          <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-if="IS_SMALL_DEVICE">
            <button class="btn btn-default btn-lg btn-block" clip-copy="input.secretPhrase" 
              clip-click="alerts.clipped=true; input.pickSecretPhrase=false">
              <i class="fa fa-clipboard"></i>&nbsp;<span translate="translate.copy"></span></button>
          </div>
          <div class="col-md-3 col-xs-12" style="margin-top: 8px">
            <button class="btn btn-default btn-lg btn-block" ng-click="input.engine=null;goto(9)" translate="translate.back"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 9. Create Account / 10. Confirm safely stored
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==10">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px" translate="translate.msg_confirm_secret_saved" 
          translate-values="{symbol: input.engine=='fim'?'FIM':'NXT'}"></div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="input.confirmed" ng-disabled="!input.secretPhrase">&nbsp;
          <span translate="translate.checkbox_confirm_secret_saved"></span>
        </label>
      </div>
      <div class="row">
        <!-- FIM engine -->
        <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-if="input.engine=='fim'">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(11)" 
              ng-disabled="!input.confirmed || !input.secretPhrase" translate="translate.continue"></button>
        </div>

        <!-- NXT engine -->
        <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-if="input.engine=='nxt'">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(4)" 
              ng-disabled="!input.confirmed || !input.secretPhrase" translate="translate.continue"></button>
        </div>

        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="input.confirmed=null; back(9)" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 9. Create Account / 10. Confirm savely stored / 11. Set account info
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==11">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px">
        <b>Please take a moment to:</b><br>
        <ul>
          <li>Activate your account</li>
          <li>Select a name</li>
          <li><b>Get free {{input.engine=='fim'?'FIM':'NXT'}}</b></li>
        </ul>
        <i>Email confirmation is required.</i>
      </div>
      <div class="alert alert-danger" style="margin-bottom: 8px" ng-show="alerts.duplicateName">
        <b>{{input.name}}</b> is registered by <b>{{input.duplicateNameAccount.accountRS}}</b>
      </div>
      <div class="alert alert-success" style="margin-bottom: 8px" ng-show="!alerts.duplicateName && input.name">
        <b>{{input.name}}</b> is available
      </div>
      <form>
        <div class="form-group">
          <span class="form-control form-control-static">
            {{input.id_rs}}
          </span>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Name" ng-model="input.name" ng-change="nameChanged()">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email (confirmation)" ng-model="input.email">
        </div>
      </form>
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(12)"
            ng-disabled="!input.name || !input.email || alerts.duplicateName" translate="translate.continue"></button>
        </div>
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(4, 11)" translate="translate.no_thanks"></button>
        </div>        
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back(10)" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************
   * 9. Create Account / 10. Confirm savely stored / 11. Set account info / 12. Confirm account info
   ********************************************************* -->

  <div class="row" style="margin-top: 8px" ng-show="state.active==12">
    <div class="col-md-12">
      <div class="alert alert-info" style="margin-bottom: 8px" ng-hide="alerts.activated">
        <b>Please verify input</b><br>
        A confirmation email will be sent to the provided email address.<br>
        Visit the link in the email and instantly receive your free {{input.engine=='fim'?'FIM':'NXT'}}.
      </div>
      <div class="alert alert-info" style="margin-bottom: 8px" ng-show="alerts.activationBusy">
        <b><i class="fa fa-spinner fa-spin"></i>&nbsp;Activating account</b>
      </div>
      <div class="alert alert-success" style="margin-bottom: 8px" ng-show="alerts.activated">
        <b>Account activated</b><br>
        Please check your email
      </div>
      <form>
        <div class="form-group">
          <span class="form-control-static">
            {{input.id_rs}}
          </span>
        </div>
        <div class="form-group">
          <span class="form-control-static">
            <b>Name</b>&nbsp;{{input.name}}
          </span>
        </div>
        <div class="form-group">
          <span class="form-control-static">
            <b>Email</b>&nbsp;{{input.email}}
          </span>
        </div>                
      </form>      
      <div class="row">
        <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-show="!alerts.activated">
          <button class="btn btn-default btn-lg btn-block" ng-click="activateAccount()" translate="translate.activate_account"></button>
        </div> 
        <div class="col-md-3 col-xs-12" style="margin-top: 8px" ng-show="alerts.activated">
          <button class="btn btn-default btn-lg btn-block" ng-click="goto(4, 12)" translate="translate.continue"></button>
        </div>
        <div class="col-md-3 col-xs-12" style="margin-top: 8px">
          <button class="btn btn-default btn-lg btn-block" ng-click="back()" translate="translate.back"></button>
        </div>
      </div>
    </div>
  </div>

</div>