<div ng-init="slide={offCanvas:false}" class="row row-offcanvas row-offcanvas-left" ng-class="{active: slide.offCanvas}">

  <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" ng-init="slide.init('messenger')">
    <div>
      <ul class="nav navbar-stacked">
        <li role="presentation">
          <a href="#/messenger/new" class="elipses navbar-btn chat-btn" 
            style="margin-top: 0px" 
            ng-class="{'font-bold':('new'==id_rs),'bg-primary':('new'==id_rs)}">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Add Contact
          </a>
        </li>
        <li role="presentation" ng-repeat="e in chatListProvider.entities" 
            ng-hide="e.hidden">
          <a href="#/messenger/{{e.otherRS}}"
            class="elipses navbar-btn chat-btn"
            ng-class="{'font-bold':(e.otherRS==id_rs),'bg-primary':(e.otherRS==id_rs)}">
            <span></span>
            {{e.label||e.accountName||e.accountRS}}<br>
            <small>{{e.date}}</small>
            <span class="pull-right">
              <span class="text-success font-bold" ng-show="e.provider.online">&nbsp;<i class="fa fa-circle"></i></span>
              <span ng-show="e.provider.loading">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
              <span style="cursor:pointer" ng-click="removeContact(e.otherRS)">&nbsp;<i class="fa fa-times"></i></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12 col-sm-10">
    <p class="visible-xs">
      <button type="button" class="btn btn-xs" 
            ng-class="{'btn-default':slide.offCanvas, 'btn-primary':!slide.offCanvas}" 
            ng-click="slide.offCanvas=!slide.offCanvas">
        <i class="fa fa-angle-double-{{offCanvas?'left':'right'}}"></i>
        <i class="fa fa-angle-double-{{offCanvas?'left':'right'}}"></i>
        <i class="fa fa-angle-double-{{offCanvas?'left':'right'}}"></i>
      </button>
    </p>

    <div class="row" ng-hide="ui.editRecipient">
      <div class="col-md-12">
        <div class="alert alert-danger" ng-show="ui.sendOffline" style="margin-bottom: 8px;">
          <button type="button" class="close" aria-label="Close"
            ng-click="ui.sendOffline=false"><span aria-hidden="true">Cancel</span></button>          
          Offline messages costs <b>{{feeCost}}</b>
        </div>
        <div>
          <button type="button" class="btn btn-primary" ng-class="{'active':ui.sendOffline}"
                  ng-hide="ui.sendOffline || (ui.chat && ui.chat.provider && ui.chat.provider.online)"
                  ng-click="ui.sendOffline=true">Send <b>Offline</b> Message</button>

          <button type="button" class="btn btn-danger pull-right"
                  ng-show="gossipUI.isDisabled"
                  ng-click="goOnlineAgain()">Go Online</button>
        </div>
      </div>
    </div>

    <div class="row" ng-show="ui.editRecipient">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="accountIdentifier2" translate="translate.name"></label>
            <input type="text" class="form-control" id="accountIdentifier2" placeholder="{{'translate.name'|translate}}" ng-model="message.name" readonly>
          </div>
          <div class="form-group">
            <label for="accountIdentifier3" translate="translate.account"></label>
            <input type="text" class="form-control" id="accountIdentifier3" placeholder="{{'translate.account'|translate}}" 
              ng-model="message.recipient" ng-model-opts="{ 'debounce': { 'default': 500, 'blur': 0 } }" ng-change="accountChanged()">
          </div>
          <div class="form-group">
            <label for="accountIdentifier4" translate="translate.public_key"></label>
            <input type="text" class="form-control" id="accountIdentifier4" placeholder="{{'translate.public_key'|translate}}" ng-model="message.recipientPublicKey">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" ng-click="addContact(message.recipient)" style="margin-top:8px" 
            ng-disabled="!message.recipientValid">Save</button>
          </div>
        </form>
      </div>
    </div>

    <div>

      <!-- ***************************************************
       *   Text box and emoji picker
       * ***************************************************** -->

      <div class="row" ng-show="(ui.chat && ui.chat.provider && ui.chat.provider.online) || ui.sendOffline">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon" ng-click="ui.emojiCollapse=!ui.emojiCollapse"><i class="fa fa-smile-o"></i></span>
            <textarea class="form-control" rows="{{IS_SMALL_DEVICE?1:2}}" ng-model="message.text" ng-change="messageChanged()"
              ng-disabled="ui.editRecipient&&!message.recipientPublicKey" enter-submit="sendDirectMessage()" ng-click= "activateTextbox()"></textarea>
            <span ng-if="message.text" class="visible-xs input-group-addon btn btn-default" ng-click="sendDirectMessage()" translate="translate.send"></span>
          </div>
          <a href ng-click="ui.sendOffline=true" style="margin-bottom: 8px;"
            ng-show="(ui.chat && ui.chat.provider && ui.chat.provider.online) && !ui.sendOffline">
            Send <b>Offline</b> Message
          </a>
          <!-- <a class="pull-right" href style="margin-bottom: 8px;" ng-show="ui.isTyping">.. is typing ..</a> -->
        </div>
      </div>
      <div class="row" collapse="ui.emojiCollapse" style="margin-top: 8px">
        <div class="col-md-12">
          <div>
            <tabset ng-class="{'mobileEmojiPicker':IS_SMALL_DEVICE}">
              <tab>
                <tab-heading><i class="emoji emoji-smile"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.faces" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-sunny"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.nature" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-bamboo"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.life" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-house"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.travel" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-one"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.signs" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
            </tabset>
          </div>
        </div>
      </div> 

      <!-- <div class="row" style="margin-top: 8px" ng-show="!message.text && message.send" style="margin-bottom: 8px;">
        <div class="col-md-12">
          <div class="alert alert-success">
            <b><i class="fa fa-check"></i></b>&nbsp;&nbsp;<span translate="translate.msg_sent_to" 
            translate-values="{recipient:contactName||id_rs}"></span>
          </div>
        </div>
      </div> -->

      <!-- ***************************************************
       *   Chat messages
       * ***************************************************** -->

      <div class="row" style="margin-right:0">
        <div class="col-md-12">
          <div class="chat" style="padding-top: 10px;">

            <!-- <div ng-show="ui.chat && ui.chat.provider.online" class="alert alert-success">{{contactRS}} is <b>ONLINE</b></div> -->            

            <div infinite-scroll="chatMessagesProvider.loadMore()" infinite-scroll-distance="0" 
                infinite-scroll-immediate-check="false">

              <div ng-show="ui.isTyping">
                <div class="fromThem" style="margin-bottom: 10px;">
                  <span style="word-wrap: break-word; word-break: break-all; white-space: normal;">
                    ... is typing ...
                  </span>
                </div>
                <div class="clear"></div>
              </div>

              <div ng-show="message.text">
                <div class="fromMe" style="margin-bottom: 10px;">
                  <span><i class="fa fa-pencil-square-o"></i>&nbsp;</span>
                  <span ng-bind-html="message.html" style="word-wrap: break-word; word-break: break-all; white-space: normal;"></span>
                </div>
                <div class="clear"></div>
              </div>

              <div ng-repeat="e in chatMessagesProvider.entities">
                <div class="{{e.clazz}}" style="margin-bottom: 10px">

                  <span ng-show="e.remover" ng-click="removeMessage(e)"
                        class="pull-right" style="cursor:pointer"><i class="fa fa-times"></i></span>
                  <span ng-show="e.received == true"
                        class="pull-right"><i class="fa fa-check"></i></span>                        

                  <span ng-if="e.confirmations <= 0">
                    <i class="fa fa-spinner fa-spin"></i>
                  </span>
                  <span ng-if="e.confirmations > 0 && e.confirmations <= 10">
                    <b>{{e.confirmations}}</b>
                  </span>
                  <span ng-if="e.confirmations > 10" tooltip="{{e.confirmations}} confirmations">
                    <i class="fa fa-check"></i>
                  </span>
                  <span><i class="fa" ng-class="{'fa-key':e.encrypted}"></i>&nbsp;</span>
                  <span ng-bind-html="e.text || '[encrypted]'" 
                        style="word-wrap: break-word; word-break: break-all; white-space: normal;"></span><br>
                  <small class="{{e.pull_clazz}}">{{e.date}}</small>
                </div>
                <div class="clear"></div>
              </div>

              <div class="load-more-button text-center" ng-show="chatMessagesProvider.hasMore">
                <a href ng-click="chatMessagesProvider.loadMore()" class="text-lowercase text-muted">
                  <span ng-show="chatMessagesProvider.isLoading"><i class="fa fa-refresh fa-spin fa-2x"></i></span>
                  <span translate-cloak><i class="fa fa-arrow-circle-down fa-2x"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>