<div ng-init="slide={offCanvas:false}" class="row row-offcanvas row-offcanvas-left" ng-class="{active: slide.offCanvas}">

  <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" ng-init="slide.init('messenger')">
    <div infinite-scroll="chatListProvider.loadMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
      <ul class="nav navbar-stacked">
        <li role="presentation">
          <a href ng-click="newMessage()" class="btn elipses navbar-btn btn-default" 
            style="width:100%; margin-top: 0px"><b>NEW</b>
          </a>
        </li>
        <li role="presentation" ng-repeat="e in chatListProvider.entities" ng-hide="e.hidden">
          <a href ng-click="showChats(e.accountRS)" class="btn elipses navbar-btn" 
            ng-class="{'btn-success': (e.accountRS==contactRS), 'btn-default': (e.accountRS!=contactRS)}" 
            style="width:100%;">
            {{e.accountName||e.accountRS}}<br>
            <small>{{e.date}}</small>
          </a>
        </li>
      </ul>

      <div class="load-more-button text-center" ng-show="chatListProvider.hasMore">
        <a href ng-click="chatListProvider.loadMore()" class="text-lowercase text-muted">
          <span ng-show="chatListProvider.isLoading"><i class="fa fa-refresh fa-spin fa-2x"></i></span>
          <span translate-cloak><i class="fa fa-arrow-circle-down fa-2x"></i></span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-10">

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" style="margin-bottom:15px">
          <li ng-if="IS_SMALL_DEVICE">
            <a class="btn btn-default elipses" ng-click="slide.offCanvas=!slide.offCanvas" style="padding-left:0 !important;">{{contactName||contactRS||"Menu"}}</a>
          </li>
          <li role="presentation" ng-class="{'active': paramType=='gossip'}">
            <a href="#/messenger/{{id_rs}}/gossip"><i class="fa fa-refresh"></i><span ng-if="!IS_SMALL_DEVICE">&nbsp;&nbsp;<span translate="translate.blockchain"></span></span></a>
          </li>
          <li role="presentation" ng-class="{'active': paramType=='blockchain'}">
            <a href="#/messenger/{{id_rs}}/blockchain"><i class="fa fa-floppy-o"></i><span ng-if="!IS_SMALL_DEVICE">&nbsp;&nbsp;<span translate="translate.blockchain"></span></span></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" ng-if="paramType=='gossip'&&ui.editRecipient">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="accountIdentifier3" translate="translate.account"></label>
            <input type="text" class="form-control" id="accountIdentifier3" placeholder="{{'translate.account'|translate}}" 
              ng-model="message.recipient" ng-model-options='{ debounce: 1000 }' ng-change="lookupPublicKey()">
          </div>
          <div class="form-group">
            <label for="accountIdentifier4" translate="translate.public_key"></label>
            <input type="text" class="form-control" id="accountIdentifier4" placeholder="{{'translate.public_key'|translate}}" ng-model="message.recipientPublicKey">
          </div>
          <div class="form-group">
            <label translate="translate.message"></label>
          </div>          
        </form>
      </div>
    </div>


    <div class="row" ng-if="!IS_SMALL_DEVICE">
      <div class="col-md-12">
        <!-- <button class="btn btn-primary btn-lg">Reply to {{contactName||contactRS}}</button> -->
        <div class="alert alert-success" ng-show="!message.text && message.send">
          <b><i class="fa fa-check"></i></b>&nbsp;&nbsp;<span translate="translate.msg_sent_to" translate-values="{recipient:contactName||contactRS}"></span>
        </div>
      </div>
    </div>

    <div>

      <!-- ***************************************************
       *   Text box and emoji picker
       * ***************************************************** -->

      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon" ng-click="ui.emojiCollapse=!ui.emojiCollapse"><i class="fa fa-smile-o"></i></span>
            <textarea class="form-control" rows="{{IS_SMALL_DEVICE?2:3}}" ng-model="message.text" ng-change="messageChanged()"></textarea>
            <span ng-if="message.text" class="input-group-addon btn btn-default" ng-click="sendDirectMessage()" translate="translate.send"></span>
          </div>
        </div>
      </div>
      <div class="row" collapse="ui.emojiCollapse" style="margin-top: 8px">
        <div class="col-md-12">
          <div>
            <tabset ng-class="{'mobileEmojiPicker':IS_SMALL_DEVICE}">
              <tab>
                <tab-heading><i class="emoji emoji-smile"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.faces" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-sunny"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.nature" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-bamboo"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.life" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-house"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.travel" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
              <tab>
                <tab-heading><i class="emoji emoji-one"></i></tab-heading>
                <a href ng-repeat="e in emoji.groups.signs" title="{{e}}" ng-click="insertEmoji(e)"><i class="emoji emoji-{{e}}"></i></a>
              </tab>
            </tabset>
          </div>
        </div>
      </div> 

      <!-- ***************************************************
       *   Chat messages
       * ***************************************************** -->

      <div class="row" style="margin-right:0">
        <div class="col-md-12">
          <div class="chat" style="padding-top: 10px;">
            <div infinite-scroll="chatMessagesProvider.loadMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
              <div ng-show="message.text">
                <div class="fromMe" style="margin-bottom: 10px;">
                  <span><i class="fa fa-pencil-square-o"></i>&nbsp;</span>
                  <span ng-bind-html="message.html" style="word-wrap: break-word; word-break: break-all; white-space: normal;"></span>
                </div>
                <div class="clear"></div>
              </div>

              <div ng-repeat="e in chatMessagesProvider.entities">
                <div class="{{e.clazz}}" style="margin-bottom: 10px">
                  <span ng-if="e.transient">
                    <i class="fa fa-clock-o"></i>
                  </span>
                  <span ng-if="!e.transient">
                    <span ng-if="e.confirmations <= 0">
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span ng-if="e.confirmations > 0 && e.confirmations <= 10">
                      <b>{{e.confirmations}}</b>
                    </span>
                    <span ng-if="e.confirmations > 10" tooltip="{{e.confirmations}} confirmations">
                      <i class="fa fa-check"></i>
                    </span>
                  </span>                
                  <span><i class="fa" ng-class="{'fa-key':e.encrypted}"></i>&nbsp;</span>
                  <span ng-bind-html="e.text || '[encrypted]'" 
                        style="word-wrap: break-word; word-break: break-all; white-space: normal;"></span><br>
                  <small class="{{e.pull_clazz}}">{{e.date}}</small>
                </div>
                <div class="clear"></div>
              </div>

              <div class="load-more-button text-center" ng-show="chatMessagesProvider.hasMore">
                <a href ng-click="chatMessagesProvider.loadMore()" class="text-lowercase text-muted">
                  <span ng-show="chatMessagesProvider.isLoading"><i class="fa fa-refresh fa-spin fa-2x"></i></span>
                  <span translate-cloak><i class="fa fa-arrow-circle-down fa-2x"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>