  <div class="past-orders-page">
    <div class="row">
      <div class="col-md-12 past-order-col1">
        <a href="#/accounts/{{id_rs}}/goods/viewcart" class= "btn btn-default">Cart ({{shoppingCart.length}})</a>
        <a href= "#/accounts/{{id_rs}}/goods" class= "btn btn-primary goods-button">Goods</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style= " padding-top: 20px;">
        <div class="table-responsive">
          <table class="table" style= "border: 1px solid #dddddd;">
            <thead>
              <tr>
                <th>Purchase ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>PriceNQT</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat= "orders in pastOrders.purchases">
                <td>{{orders.purchase}}</td>
                <td>{{orders.name}}</td>
                <td>{{orders.quantity}}</td>
                <td>{{orders.priceNQT}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="col-md-12" style= "text-align: center;" ng-repeat= "orders in pastOrders.purchases">
        <div class="list-group past-orders-div">
            <img src="images/imac.jpg" style= "width: 185px;">
            <a class="list-group-item" style= "border: none;">
              <div style= "text-align: left;">
                <p><b>Purchase Id: </b>{{orders.purchase}}</p>
                <h4 class="list-group-item-heading">{{orders.name}}</h4>
                <p class="list-group-item-text"><b>Quantity:</b> {{orders.quantity}}</p>
                <p class="list-group-item-text"> <b>PriceNQT:</b> {{orders.priceNQT}}</p>
              </div>
            </a>
        </div>
      </div> -->
    </div>
  </div>