  <div class="row">
    <div class="col-md-12">
      <a href= "#/accounts/{{id_rs}}/goods" class= "btn btn-primary pull-right" style= "height: 39px; padding-top: 8px;">Goods</a>
      <a href="#/accounts/{{id_rs}}/goods/viewcart" class= "cart-count pull-right">Cart ({{shoppingCart.length}})</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Past Orders</h3>
    </div>
    <div class="col-md-12" style= "padding: 0px;">
      <hr style= "margin-top: 0px;">
    </div>
    <div class="col-md-12" style= "text-align: center;">
      <div class="list-group past-orders-div">
          <img src="images/imac.jpg" style= "width: 185px;">
          <a class="list-group-item" style= "border: none;">
            <div style= "text-align: left;">
              <p><b>Purchase Id: </b>3723760852542296589</p>
              <h4 class="list-group-item-heading">Hello World</h4>
              <!-- <p class="list-group-item-text" ng-if= "goods.tags"> <b>Tags:</b> {{goods.tags}}</p> -->
              <p class="list-group-item-text"><b>Quantity:</b> 2</p>
              <p class="list-group-item-text"> <b>PriceNQT:</b> 50000</p>
              <b>About</b>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-12" style= "text-align: center;">
      <div class="list-group past-orders-div">
          <img src="images/imac.jpg" style= "width: 185px;">
          <a class="list-group-item" style= "border: none;">
            <div style= "text-align: left;">
              <p><b>Purchase Id: </b>3723760852542296589</p>
              <h4 class="list-group-item-heading">Hi World</h4>
              <!-- <p class="list-group-item-text" ng-if= "goods.tags"> <b>Tags:</b> {{goods.tags}}</p> -->
              <p class="list-group-item-text"><b>Quantity:</b> 2</p>
              <p class="list-group-item-text"> <b>PriceNQT:</b> 50000</p>
              <b>About</b>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-12" style= "text-align: center;">
      <div class="list-group past-orders-div">
          <img src="images/imac.jpg" style= "width: 185px;">
          <a class="list-group-item" style= "border: none;">
            <div style= "text-align: left;">
              <p><b>Purchase Id: </b>3723760852542296589</p>
              <h4 class="list-group-item-heading">Hi World</h4>
              <!-- <p class="list-group-item-text" ng-if= "goods.tags"> <b>Tags:</b> {{goods.tags}}</p> -->
              <p class="list-group-item-text"><b>Quantity:</b> 2</p>
              <p class="list-group-item-text"> <b>PriceNQT:</b> 50000</p>
              <b>About</b>
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </a>
      </div>
    </div>
  </div>