<!doctype html>
<html lang="en" ng-app="fim.base" ng-controller="AppController">
  <head>
    <meta charset="utf-8" />
    <title ng-bind="TITLE"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>.ng-cloak { display:none; }</style>
    <script type="text/javascript">
    try {
      isNodeJS = typeof require == 'function' && require('child_process');
    } catch (e) {
      isNodeJS = false;
    }
    DEBUG = false;

    if (("www.mofowallet.com" == window.location.host || 
         "mofowallet.com" == window.location.host) && (window.location.protocol != "https:")) {
      window.location.protocol = "https";
    }
    else if ("fimkrypto.github.io" == window.location.host) {
      window.location = "https://www.mofowallet.com/launch.html" + window.location.hash;
    }

    var entityMap = {"&":"&amp;","<":"&lt;",">":"&gt;",'"':'&quot;',"'":'&#39;',"/":'&#x2F;',"\n":'<br>'};
    function escapeHtml(string) {
      return String(string).replace(/[&<>"'\/]|[\n]/g, function (s) {
        return entityMap[s];
      });
    }
    </script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico?v=6" />

    <!-- Bootswatch theme switcher -->
    <link type="text/css" rel="stylesheet" href="plugins/themes/css/spacelab.bootstrap.min.css" id="bootswatch.style" />

    <link type="text/css" rel="stylesheet" href="amstockchart/amcharts/style.css" />

    <!-- <link type="text/css" rel="stylesheet" href="bower_components/ng-table/ng-table.css" /> -->
    
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link type="text/css" rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="styles/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css"> <!-- main.sass -->
    <link type="text/css" rel="stylesheet" href="styles/main-less.css"> <!-- main.less -->
    <link type="text/css" rel="stylesheet" href="styles/landing-page.css"> 
    <!-- endbuild -->

    <style>
      a[title="JavaScript charts"] {
        display: none !important;
      }
    </style>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="mode.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script>
    window.jQuery = window.$ = angular.element;
    </script>
    <script src="scripts/lib/nw-edit-menu.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>    
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/ng-table/ng-table.js"></script>
    <script src="bower_components/pako/dist/pako.min.js"></script>  
    
    <script src="amstockchart/amcharts/amcharts.js"></script> 
    <script src="amstockchart/amcharts/serial.js"></script> 
    <script src="amstockchart/amcharts/amstock.js"></script>

    <script src="scripts/lib/iterator.js"></script>
    <script src="scripts/lib/jsbn.js"></script>
    <script src="scripts/lib/jsbn2.js"></script>    
    <script src="scripts/lib/Dexie.js"></script>
    <script src="scripts/lib/Dexie.Observable.js"></script>
    <script src="scripts/lib/Dexie.TableObserver.js"></script>
    <script src="scripts/lib/nxt/utils/nxtaddress.js"></script>
    <script src="scripts/lib/nxt/utils/converters.js"></script>
    <script src="scripts/lib/nxt/crypto/3rdparty/jssha256.js"></script>
    <script src="scripts/lib/nxt/crypto/curve25519.js"></script>
    <script src="scripts/lib/nxt/crypto/curve25519_.js"></script>
    <script src="scripts/lib/nxt/crypto/3rdparty/cryptojs/aes.js"></script>
    <script src="scripts/lib/nxt/crypto/3rdparty/cryptojs/sha256.js"></script>
    <script src="scripts/lib/nxt/crypto/3rdparty/seedrandom.js"></script>
    <script src="scripts/lib/validate.js"></script>
    <script src="scripts/lib/Blob.js"></script>
    <script src="scripts/lib/FileSaver.js"></script>
    <script src="scripts/lib/ng-infinite-scroll.js"></script>
    
    <script src="scripts/app.js"></script>

    <script src="scripts/models/setting.js"></script>
    <script src="scripts/models/account.js"></script>
    <script src="scripts/models/contact.js"></script>
    <script src="scripts/models/node.js"></script>
    <script src="scripts/models/masspayPluginPayment.js"></script>

    <script src="scripts/directives/money.js"></script>
    <script src="scripts/directives/dd-text-collapse.js"></script>
    <script src="scripts/directives/route-active.js"></script>
    <script src="scripts/directives/select-on-click.js"></script>
    <script src="scripts/directives/file-select.js"></script>

    <script src="scripts/providers/account-forger-provider.js"></script>
    <script src="scripts/providers/account-lessors-provider.js"></script>
    <script src="scripts/providers/account-provider.js"></script>
    <script src="scripts/providers/account-post-provider.js"></script>
    <script src="scripts/providers/account-pulse-provider.js"></script>
    <script src="scripts/providers/activity-provider.js"></script>
    <script src="scripts/providers/alias-provider.js"></script>
    <script src="scripts/providers/all-assets-provider.js"></script>
    <script src="scripts/providers/asset-post-provider.js"></script>
    <script src="scripts/providers/assets-provider.js"></script>
    <script src="scripts/providers/balance-provider.js"></script>
    <script src="scripts/providers/block-state-provider.js"></script>
    <script src="scripts/providers/blockchain-download-provider.js"></script>
    <script src="scripts/providers/blocks-provider.js"></script>
    <script src="scripts/providers/buy-order-provider.js"></script>
    <script src="scripts/providers/comment-provider.js"></script>
    <script src="scripts/providers/currency-provider.js"></script>
    <script src="scripts/providers/forgers-provider.js"></script>
    <script src="scripts/providers/messages-provider.js"></script>
    <script src="scripts/providers/namespaced-alias-provider.js"></script>
    <script src="scripts/providers/payments-provider.js"></script>
    <script src="scripts/providers/peer-provider.js"></script>
    <script src="scripts/providers/recent-transactions-provider.js"></script>
    <script src="scripts/providers/search-provider.js"></script>
    <script src="scripts/providers/sell-order-provider.js"></script>
    <script src="scripts/providers/server-config-provider.js"></script>
    <script src="scripts/providers/statistics-provider.js"></script>
    <script src="scripts/providers/ae/ask-order-provider.js"></script>
    <script src="scripts/providers/ae/asset-info-provider.js"></script>
    <script src="scripts/providers/ae/bid-order-provider.js"></script>
    <script src="scripts/providers/ae/charts-provider.js"></script>
    <script src="scripts/providers/ae/my-order-provider.js"></script>
    <script src="scripts/providers/ae/private-accounts-provider.js"></script>
    <script src="scripts/providers/ae/trades-provider.js"></script>

    <script src="scripts/services/timeago-service.js"></script>
    <script src="scripts/services/entity-provider.js"></script>
    <script src="scripts/services/indexed-entity-provider.js"></script>
    <script src="scripts/services/accounts-service.js"></script>
    <script src="scripts/services/server-service.js"></script>
    <script src="scripts/services/request-service.js"></script>    
    <script src="scripts/services/nxt.js"></script>
    <script src="scripts/services/nxt.util.js"></script>
    <script src="scripts/services/modals.js"></script>
    <script src="scripts/services/db.js"></script>
    <script src="scripts/services/plugin-service.js"></script>
    <script src="scripts/services/i18n.js"></script>
    <script src="scripts/services/setting-service.js"></script>
    <script src="scripts/services/mofo-socket.js"></script>
    
    <script src="scripts/controllers/app.js"></script>
    <script src="scripts/controllers/start.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/language-modal.js"></script>
    <script src="scripts/controllers/welcome-modal.js"></script>
    <script src="scripts/controllers/start-server-modal.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/secretphrase-modal.js"></script>
    <script src="scripts/controllers/select-decryption-account.js"></script>
    <script src="scripts/controllers/server.js"></script>
    <script src="scripts/controllers/merchant-terminal.js"></script>
    <script src="scripts/controllers/translation.js"></script>
    <script src="scripts/controllers/activity.js"></script>
    <script src="scripts/controllers/accounts.js"></script>
    <script src="scripts/controllers/assets.js"></script>

    <!-- Transaction plugin -->
    <script src="plugins/transaction/config.js"></script>
    <script src="plugins/transaction/controllers/transaction.js"></script>
    <script src="plugins/transaction/transactions/payment.js"></script>
    <script src="plugins/transaction/transactions/message.js"></script>    
    <script src="plugins/transaction/transactions/account-info.js"></script>
    <script src="plugins/transaction/transactions/alias.js"></script>
    <script src="plugins/transaction/transactions/namespaced-alias.js"></script>
    <script src="plugins/transaction/transactions/assets.js"></script>
    <script src="plugins/transaction/transactions/currency.js"></script>
    <script src="plugins/transaction/transactions/dgs.js"></script>
    <script src="plugins/transaction/transactions/forging.js"></script>
    <script src="plugins/transaction/transactions/lease-balance.js"></script>
    <script src="plugins/transaction/transactions/poll.js"></script>
    <script src="plugins/transaction/transactions/goods.js"></script>

    <script src="plugins/inspector/config.js"></script>
    <script src="plugins/inspector/controllers/inspect.js"></script>
    <script src="plugins/namespaced-alias/config.js"></script>
    <script src="plugins/namespaced-alias/controllers/namespaced-alias-create-modal.js"></script>
    <script src="plugins/themes/config.js"></script>
    <script src="plugins/themes/controllers/themes.js"></script>
    <script src="plugins/wallet/config.js"></script>
    <script src="plugins/wallet/controllers/wallet-manager.js"></script>
    <script src="plugins/wallet/controllers/wallet-open-modal.js"></script>
    <script src="plugins/wallet/controllers/wallet-password-modal.js"></script>
    <script src="plugins/wallet/controllers/wallet-save-modal.js"></script>    
    <script src="plugins/contacts/config.js"></script>
    <script src="plugins/contacts/controllers/contacts.js"></script>
    <script src="plugins/contacts/controllers/contacts-select-modal.js"></script>
    <script src="plugins/contacts/controllers/contacts-add-modal.js"></script>
    <script src="plugins/settings-db/config.js"></script>
    <script src="plugins/settings-db/controllers/settings-db.js"></script>
    <script src="plugins/settings/config.js"></script>
    <script src="plugins/settings/controllers/settings.js"></script>
    <script src="plugins/alerts/config.js"></script>
    <script src="plugins/alerts/controllers/alert-modal.js"></script>    
    <script src="plugins/alerts/controllers/alert-confirm-modal.js"></script>
    <script src="plugins/alerts/controllers/alert-prompt-modal.js"></script>
    <script src="plugins/alerts/controllers/alert-wait-modal.js"></script>
    <script src="plugins/alerts/controllers/alert-progress-modal.js"></script>
    <script src="plugins/fim-engine/config.js"></script>
    <script src="plugins/fim-engine/controllers/status.js"></script>
    <script src="plugins/nxt-engine/config.js"></script>
    <script src="plugins/nxt-engine/controllers/status.js"></script>

    <!-- Authenticator plugin -->
    <script src="plugins/authenticate/config.js"></script>
    <script src="plugins/authenticate/controllers/authenticate.js"></script>
    <script src="plugins/authenticate/controllers/progress.js"></script>

    <!-- endbuild -->

  </head>
  <body ng-class="{'showing-landing-page': showingLandingPage}">

    <audio preload="auto"><source src="images/beep.wav"></audio>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header" ng-init="mainMenuCollapsed=true">
        <button type="button" class="navbar-toggle collapsed"
            ng-click="mainMenuCollapsed=!mainMenuCollapsed">
          <span class="sr-only" translate="translate.toggle_navigation"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/start"><i class="fa fa-home text-success"></i>&nbsp;<strong>Mofo</strong>Wallet&nbsp;<span class="text-danger"><b>{{isTestnet? 'TEST' : 'BETA'}}</b></span></a>
      </div>

      <div class="collapse navbar-collapse navbar-default" collapse="mainMenuCollapsed">
        <ul class="nav navbar-nav" nav-menu="active">
          <li>
            <a href="javascript:window.history.back()"><i class="fa fa-arrow-left"></i></a>
          </li>
          <li>
            <a href="javascript:window.history.forward()"><i class="fa fa-arrow-right"></i></a>
          </li>

          <!-- <li route-active="start/">
            <a ng-href="#/start"><i class="fa fa-home text-success"></i>&nbsp;&nbsp;{{'translate.home' | translate}}</a>
          </li> -->

          <li route-active="home/">
            <a ng-href="#/home/{{paramEngine}}/activity/latest"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;{{'translate.dashboard' | translate}}</a>
          </li>          
          
          <li route-active="activity/">
            <a ng-href="#/activity/{{paramEngine}}/activity/latest"><i class="fa fa-cloud"></i>&nbsp;&nbsp;{{'translate.explorer' | translate}}</a>
          </li>

          <li route-active="activity/{{paramEngine}}/assets">
            <a ng-href="#/activity/{{paramEngine}}/assets/latest"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;{{'translate.assets' | translate}}</a>
          </li>          
        </ul>

        <ul class="nav navbar-nav navbar-right" nav-menu="active">
          <!-- <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" style="max-width: 250px" ng-model="search.query" ng-changed="search.changed($value)">
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-search"></i>&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="p in search.providers">
                <a href ng-click="p.search()">{{p.label}}</a>
              </li>
            </ul>
          </li> -->

          <li>
            <a href="#/search/fim/accounts/">
              <i class="fa fa-search"></i>&nbsp;&nbsp;{{'translate.search' | translate}}
            </a>
          </li>          

          <li style="margin-right: 10px" route-active="settings" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;{{'translate.settings' | translate}}&nbsp;<span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li route-active>
                <a ng-href="#/settings/themes"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;{{'translate.themes' | translate}}</a> 
              </li>
              <!-- only displayed when running as front end for FIMK server package-->
              <li route-active ng-if="forceLocalHost && !enableDualEngines">
                <a ng-href="#/server/fim/peers"><i class="fa fa-globe"></i>&nbsp;&nbsp;{{'translate.peers' | translate}}</a> 
              </li>
              <li route-active ng-if="isNodeJS">
                <a ng-href="#/server/fim/console"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;{{'translate.fim_server' | translate}}</a> 
              </li>
              <li route-active ng-if="isNodeJS && enableDualEngines">
                <a ng-href="#/server/nxt/console"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;{{'translate.nxt_server' | translate}}</a>
              </li>              
              <li route-active>
                <a ng-href="#/settings/wallet"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;{{'translate.wallet' | translate}}</a> 
              </li>
              <li route-active>
                <a ng-href="#/settings/contacts"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{'translate.contacts' | translate}}</a> 
              </li>
              <li route-active>
                <a ng-href="#/settings/database"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;{{'translate.database' | translate}}</a> 
              </li>
              <li route-active ng-show="false">
                <a ng-href="#/settings/nodes"><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;&nbsp;{{'translate.public_nodes' | translate}}</a> 
              </li>
              <li ng-if="isNodeJS">
                <a href ng-click="openDevTools()">
                  <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;{{'translate.dev_tools' | translate}}
                </a> 
              </li>
              <li ng-if="isNodeJS">
                <a href ng-click="reloadMofoWallet()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;{{'translate.reload_application' | translate}}</a> 
              </li>
            </ul>
          </li> 

          <li style="margin-right: 10px" ng-if="multiLanguage" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-globe text-danger"></i>&nbsp;&nbsp;{{'translate.language'|translate}}&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu lang-columns" role="menu">
              <li><a ><b class="text-warning"><i class="fa fa-exclamation-triangle"></i></b><b class="text-danger">&nbsp;&nbsp;Experimental!</b></a></li>
              <li>
                <a href="#/translation/en">
                  <b class="text-primary"><i class="fa fa-users"></i></b><b class="text-success">&nbsp;&nbsp;Help Translate.</b>
                </a>
              </li>
              <li><a href ng-click="setLang('af')">Afrikaans - ({{'lang.Afrikaans'|translate}})</a></li>
              <li><a href ng-click="setLang('sq')">Shqip - ({{'lang.Albanian'|translate}})</a></li>
              <li><a href ng-click="setLang('ar')">العربية - ({{'lang.Arabic'|translate}})</a></li>
              <li><a href ng-click="setLang('az')">azərbaycan dili - ({{'lang.Azerbaijani'|translate}})</a></li>
              <li><a href ng-click="setLang('eu')">euskara - ({{'lang.Basque'|translate}})</a></li>
              <li><a href ng-click="setLang('bn')">বাংলা - ({{'lang.Bengali'|translate}})</a></li>
              <li><a href ng-click="setLang('be')">беларуская мова - ({{'lang.Belarusian'|translate}})</a></li>
              <li><a href ng-click="setLang('bg')">български език - ({{'lang.Bulgarian'|translate}})</a></li>
              <li><a href ng-click="setLang('ca')">català - ({{'lang.Catalan'|translate}})</a></li>
              <li><a href ng-click="setLang('zh')">简化中国 - ({{'lang.Chinese_Simplified'|translate}})</a></li>
              <li><a href ng-click="setLang('zh-TW')">中國傳統 - ({{'lang.Chinese_Traditional'|translate}})</a></li>
              <li><a href ng-click="setLang('hr')">hrvatski jezik - ({{'lang.Croatian'|translate}})</a></li>
              <li><a href ng-click="setLang('cs')">čeština, český jazyk - ({{'lang.Czech'|translate}})</a></li>
              <li><a href ng-click="setLang('da')">dansk - ({{'lang.Danish'|translate}})</a></li>
              <li><a href ng-click="setLang('nl')">Nederlands - ({{'lang.Dutch'|translate}})</a></li>
              <li><a href ng-click="setLang('en')"><b>English - ({{'lang.English'|translate}})</b></a></li>
              <li><a href ng-click="setLang('eo')">Esperanto - ({{'lang.Esperanto'|translate}})</a></li>
              <li><a href ng-click="setLang('et')">eesti - ({{'lang.Estonian'|translate}})</a></li>
              <li><a href ng-click="setLang('tl')">Wikang Filipino - ({{'lang.Filipino'|translate}})</a></li>
              <li><a href ng-click="setLang('fi')"><b>Suomi - ({{'lang.Finnish'|translate}})</b></a></li>
              <li><a href ng-click="setLang('fr')">Français - ({{'lang.French'|translate}})</a></li>
              <li><a href ng-click="setLang('gl')">Galego - ({{'lang.Galician'|translate}})</a></li>
              <li><a href ng-click="setLang('ka')">ქართული - ({{'lang.Georgian'|translate}})</a></li>
              <li><a href ng-click="setLang('de')">Deutsch - ({{'lang.German'|translate}})</a></li>
              <li><a href ng-click="setLang('el')">Ελληνικά - ({{'lang.Greek'|translate}})</a></li>
              <li><a href ng-click="setLang('gu')">ગુજરાતી - ({{'lang.Gujarati'|translate}})</a></li>
              <li><a href ng-click="setLang('ht')">Kreyòl Ayisyen - ({{'lang.Haitian_Creole'|translate}})</a></li>
              <li><a href ng-click="setLang('iw')">עברית - ({{'lang.Hebrew'|translate}})</a></li>
              <li><a href ng-click="setLang('hi')">हिन्दी - ({{'lang.Hindi'|translate}})</a></li>
              <li><a href ng-click="setLang('hu')">Magyar - ({{'lang.Hungarian'|translate}})</a></li>
              <li><a href ng-click="setLang('is')">Íslenska - ({{'lang.Icelandic'|translate}})</a></li>
              <li><a href ng-click="setLang('id')">Bahasa Indonesia - ({{'lang.Indonesian'|translate}})</a></li>
              <li><a href ng-click="setLang('ga')">Gaeilge - ({{'lang.Irish'|translate}})</a></li>
              <li><a href ng-click="setLang('it')">Italiano - ({{'lang.Italian'|translate}})</a></li>
              <li><a href ng-click="setLang('ja')">日本語 - ({{'lang.Japanese'|translate}})</a></li>
              <li><a href ng-click="setLang('kn')">ಕನ್ನಡ - ({{'lang.Kannada'|translate}})</a></li>
              <li><a href ng-click="setLang('ko')">조선말 - ({{'lang.Korean'|translate}})</a></li>
              <li><a href ng-click="setLang('la')">Latina - ({{'lang.Latin'|translate}})</a></li>
              <li><a href ng-click="setLang('lv')">Latviešu - ({{'lang.Latvian'|translate}})</a></li>
              <li><a href ng-click="setLang('lt')">Lietuvių - ({{'lang.Lithuanian'|translate}})</a></li>
              <li><a href ng-click="setLang('mk')">Mакедонски - ({{'lang.Macedonian'|translate}})</a></li>
              <li><a href ng-click="setLang('ms')">Bahasa Melayu - ({{'lang.Malay'|translate}})'|translate}})</a></li>
              <li><a href ng-click="setLang('mt')">Malti - ({{'lang.Maltese'|translate}})</a></li>
              <li><a href ng-click="setLang('no')">Norsk - ({{'lang.Norwegian'|translate}})</a></li>
              <li><a href ng-click="setLang('fa')">فارسی - ({{'lang.Persian'|translate}})</a></li>
              <li><a href ng-click="setLang('pl')">Polski - ({{'lang.Polish'|translate}})</a></li>
              <li><a href ng-click="setLang('pt')">Português - ({{'lang.Portuguese'|translate}})</a></li>
              <li><a href ng-click="setLang('ro')">Română - ({{'lang.Romanian'|translate}})'|translate}})</a></li>
              <li><a href ng-click="setLang('ru')">Русский - ({{'lang.Russian'|translate}})</a></li>
              <li><a href ng-click="setLang('sr')">Српски - ({{'lang.Serbian'|translate}})</a></li>
              <li><a href ng-click="setLang('sk')">Slovenčina - ({{'lang.Slovak'|translate}})</a></li>
              <li><a href ng-click="setLang('sl')">Slovenščina - ({{'lang.Slovenian'|translate}})</a></li>
              <li><a href ng-click="setLang('es')">Español - ({{'lang.Spanish'|translate}})</a></li>
              <li><a href ng-click="setLang('sw')">Kiswahili - ({{'lang.Swahili'|translate}})</a></li>
              <li><a href ng-click="setLang('sv')">Svenska - ({{'lang.Swedish'|translate}})</a></li>
              <li><a href ng-click="setLang('ta')">தமிழ் - ({{'lang.Tamil'|translate}})</a></li>
              <li><a href ng-click="setLang('te')">తెలుగు - ({{'lang.Telugu'|translate}})</a></li>
              <li><a href ng-click="setLang('th')">ไทย - ({{'lang.Thai'|translate}})</a></li>
              <li><a href ng-click="setLang('tr')">Türkçe - ({{'lang.Turkish'|translate}})</a></li>
              <li><a href ng-click="setLang('uk')">українська мова - ({{'lang.Ukrainian'|translate}})</a></li>
              <li><a href ng-click="setLang('ur')">اردو - ({{'lang.Urdu'|translate}})</a></li>
              <li><a href ng-click="setLang('vi')">Việtnam - ({{'lang.Vietnamese'|translate}})</a></li>
              <li><a href ng-click="setLang('cy')">Cymraeg - ({{'lang.Welsh'|translate}})</a></li>
              <li><a href ng-click="setLang('yi')">ייִדיש - ({{'lang.Yiddish'|translate}})</a></li>
            </ul>
          </li>           
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="padding-bottom: 50px">
      <div ng-view></div>
    </div>

    <nav ng-if="isNodeJS" class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div ng-repeat="p in systemPlugins">
          <ng-include src="p.templateURL"></ng-include>
        </div>
      </div>
    </nav>
  </body> 
</html>